
<div class="row">
    <div class=" ">
        <h1 *ngIf="editMode== true">Post Add</h1>
        <h1  *ngIf="editMode== false">Post Edit</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <label >Title</label>
                <input type=text class="form-control" formControlName="title" >
            </div>
            
            <div class="form-group">
                <label >Description</label>
                <textarea type=text class="form-control" formControlName="description" ></textarea>
            </div>
            
            <div class="form-group">
                <label >Image Path</label>
                <input type=file class="form-control col-sm-6 md-6"  (change)="selectFile($event)">
                <!-- <img class="img-responsive" src ="{{form.value.imagepath}} "  > -->
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary " type="Submit" >Save</button>|
                <button class="btn btn-success " type="clear" (click)="onclear()">Clear</button>
    
            </div>
        </form>
    </div>
</div>
